.navbar {
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.navbar__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}
.navbar__login {
    margin-left: auto;
    margin-right: 20px;
}
.navbar__logo {
    width: auto;
    height: 50px;
}
.container {
    width: 1140px;
    display: flex;
    align-items: center;
}

.avatar__img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid lightslategray;
    border-radius: 100%;
}